body {
    margin: 0;
    padding: 2%;
    background-image: linear-gradient(to bottom right, #112D4E, #DBE2EF);
    color: black;
  }

  div.sve {
    background-color: #DBE2EF;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .DrugaStrana {

    float: right;
  }



  .top-container {
    display: block;
    margin-left: auto;
    margin-right: auto;


    height: 650px;
    border-radius: 15px;

    background-image: url("./slike/ljudi.png");



    padding: 30px;
    text-align: center;

    background-repeat: no-repeat;
    background-size: cover;
  }


.social-media {
    display: flex;
    justify-content: space-between;
    
    
    align-items: center;
    background-color:  #112D4E;;
    padding: 10px;
  }
  
  .social-media a {
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .contact-info{
      background :  #112D4E;;
      color: #FFFFFF;
      
  }
  .contact-info p{
    text-align: center;
  }
  
.svee{
    padding: 1%;
  }


  div.ekran {

    width: 500px;
    height: 250px;
    
    margin-top: 70px;
    margin-left: 70px;

    padding: 5px;
    font-size: 20px;
    text-align: unset;
    background-color:#3F72AF;
    border: #000 solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  p.ekran {
    
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #F9F7F7;

    
  }

  
  
  #BU {
    overflow: hidden;
    background-color: #112D4E;
    width: 98%;

  }

  #BU a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .odlepi {
    visibility: hidden;
    display: none;

  }

  .Zalepi {

    position: fixed;
    top: 0;
    width: 96%;

    visibility: visible;
    display: block;
  }


  .galerija{
    padding: 10px;
    border-collapse: collapse;
  }
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;

  }

  /* Add some styling for better visibility */
  .grid-item {
    border: 1px solid #000;
    padding: 10px;
    font-size: 19px;
  }
  .grid-item h1{
    text-align: center;
  }

  .grid-container2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 2fr;
    
  }

  .grid-slika{
    width: 100% ;
    height: 500px;
  }



   
  .typing-container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}
  .fade-in {
    animation: ulece  3s infinite;
    font-size: 20px;
    overflow: hidden;
}
  @keyframes ulece {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }